/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #202124;
}

/* header */
header {
  border-bottom: 1px solid #ccc;
  padding: 1rem 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#search-input {
  background-color: #525356;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #ddd;
  width: 400px;
}

#search-input::placeholder {
  color: #ddd;
}

#export-tasks {
  background-color: #333;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.4s;
}

#export-tasks:hover {
  background-color: #fff;
  color: #333;
}

/* new task form */
#add-task-container {
  display: flex;
  width: 400px;
  margin: 1rem auto 0;
  gap: 1rem;
}

#add-task-container input,
#add-task-container button {
  padding: 10px;
  border-radius: 5px;
}

#add-task-container input {
  flex: 1;
  background-color: transparent;
  border: 1px solid #525356;
  color: #fff;
}

#add-task-container button {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
}

/* tasks */
#task-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 2rem;
  gap: 2rem;
}

.task {
  min-height: 200px;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #202124;
  border-radius: 10px;
  color: #fff;
  position: relative;
}

.task .bi-pin {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.task:hover > i {
  opacity: 1;
}

.task .bi-x-lg,
.task .bi-file-earmark-plus {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.9rem;
  padding: 5px;
  transition: 0.3s;
  color: #a09e9e;
  cursor: pointer;
  opacity: 0;
}

.task .bi-file-earmark-plus {
  top: 40px;
}

.task .bi-x-lg:hover,
.task .bi-file-earmark-plus:hover {
  color: #fff;
  font-weight: bold;
}

.task.fixed {
  background-color: #3c3c3c;
}

#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.toast {
  background-color: #333;
  color: #fff;
  padding: 12px 16px;
  margin-top: 10px;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadein 0.3s forwards, fadeout 0.3s 2.7s forwards;
}

@keyframes fadein {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@media (max-width: 750px) {
  header {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  #search-container,
  #search-input {
    width: 100%;
  }

  #add-task-container {
    width: 100%;
    padding: 0 2rem;
  }

  #task-container {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
